@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
          

            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  @User.Identity.GetUserName() <span class="caret" ></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="@Url.Action("Mine","Gigs")">My upcoming gigs</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Attending","Gigs")">Gigs i'm going</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Follow","Account")">Artists i'm following</a></li>
               
                    <li role="separator" class="divider"> </li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Off </a> </li>
                    
                   </ul>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
     
    </ul>
}
